<form action="filter" method="get">
  <label for="filterBy">Filtrar por: </label>
    <select name="filterBy" id="filterBy">
      <option value="">Seleccionar..</option>
      <option value="tipo">Tipo</option>
      <option value="marca">Marca</option>
    </select>
    <label for="filter">Especifique: </label>
    <select name="filter" id="filter">
      <option value="">Seleccionar..</option>
      <option value="tipo">Tipo</option>
      <option value="marca">Marca</option>
    </select>
  <input type="submit" value="filtrar">
</form>